{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Docente</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="{% static 'css/stylesmo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
      function Solo_Texto(e) {
        var code;
        if (!e) var e = window.event;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        var character = String.fromCharCode(code);
        var AllowRegex  = /^[\ba-zA-Z\s-]$/;
        if (AllowRegex.test(character)) return true;     
      return false; 
      }
    </script>

  </head>


<body>
    <header>
        <img src="{% static 'imagenes/sm.jpeg'%}" alt="Logotipo de sokoladli">
      <nav>
            <ul>
                <!--<li><a href="Menu">Inicio</a></li>
                <li><a href="Soporte">Soporte</a></li>
                <li><a href="Contacto">Contacto</a></li>-->
            </ul>       
        </nav>
    </header>

    <h1>Modificar Docente</h1>

    <div>
        <form method="POST">
          {% csrf_token %}
        <label for="fname">Clave del Docente</label>
        <input disabled type="number" maxlength="5" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="claveDocente" name="claveDocente" value= "{{docente.claveDocente}}">
        <!--<div class="m1"> 
            <input required type="text"  placeholder="Search.." name="search">
            <button class="sb" type="submit"><i class="fa fa-search"></i></button>
          </div>-->

        <label for="pwd">Contraseña</label>
        <input class="contraseña" required type="password" id="password" name="password" value= "{{docente.password}}" required> 

        <label for="fname">Nombre</label>
        <input required onkeypress="return Solo_Texto(event);" style="text-transform:uppercase" type="text" id="nombre" maxlength="20" name="nombre" value= "{{docente.nombre}}" required>
        
        <label for="fname">Apellido Paterno</label>
        <input required  onkeypress="return Solo_Texto(event);" style="text-transform:uppercase" type="text" id="apellidoP" maxlength="15" name="apellidoP" value= "{{docente.apellidoP}}" required>

        <label for="fname">Apellido Materno</label>
        <input required onkeypress="return Solo_Texto(event);" style="text-transform:uppercase" type="text" id="apellidoM" maxlength="15" name="apellidoM" value= "{{docente.apellidoM}}" required>

        <label for="email">Correo Institucional</label>
        <input class="correo" type="email" id="email" name="email" value= "{{docente.email}}" required>

        <label for="fname">CURP</label>
        <input required style="text-transform:uppercase"type="text" maxlength="18" pattern="([A-Z]{4})+([0-9]{6})+([A-Z]{6})+([A-Z 0-9]{2})" id="curp" name="curp" value= "{{docente.curp}}" required>
     
        <input required type="submit" value="Submit">
      </form>
    </div>

</body>
</html>