{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario Inválido</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/loginn.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"> 
       
</head>

<body>
    <header>
        <a href="Login">
            <img src="{% static 'imagenes/sm.jpeg'%}" alt="Logotipo de sokoladli">
        </a>
        <nav>
            <ul>
                <li><a class="a2" href="Login">Iniciar Sesión</a></li>
                <li><a class="a2" href="Soporte">Soporte</a></li>
                <li><a  class="a2" href="Contacto">Contacto</a></li>
            </ul>       
        </nav>
    </header>

    <form class="login"> 
        <div class="contenedorlog"> 
            <h1 class="monito"><i class="far fa-user"></i></h1>
            <br><br><br>
            <label class="etiquetaslog"><b>Usuario Inválido</b></label> 
            <br><br><br>
            
        </div>
    </form>  
</body>
</html>