{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width class="cabeza"=device-width class="cabeza", initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'css/verperfil.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#profile').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#image").change(function(){
        readURL(this);
        //other uploading proccess [server side by ajax and form-data ]
    });
    </script>

</head>

<body>
    <header>
        <a href="Menu">
            <img class="stm" src="{% static 'imagenes/sm.jpeg'%}" alt="Logotipo de sokoladli">
        </a>
        <nav>
            <ul>
                <li><a href="javascript:history.back()">Regresar</a></li>
                <li><a href="Soporte">Soporte</a></li>
                <li><a href="Contacto">Contacto</a></li>
            </ul>       
        </nav>
    </header>

    <h1>Perfil</h1>
    <div class="wrapper">
        
        <div class="left">
            <img class="fotodeperfil" src="{% static 'imagenes/usuario.png'%}" alt="user"> 
            <h4>{{request.user.first_name}}</h4><h4>{{request.user.last_name}}</h4>
    
        </div>
        
        <div class="right">
            <div class="info">
                <h3 style="font-size:25px;"><b>Información</b></h3>
                <table class="datos" >
                    <tr>
                    <th class="cabeza" >Clave del Docente</th class="cabeza">
                    <th class="cabeza">Correo Institucional</th class="cabeza">
                    <tr>
                        <td class="datillos">000001</td>
                        <td class="datillos">{{request.user.email}}</td>
                    </tr>
                </table>
                <br>
                <br>
                <br>
                <br>
                <br>
                <table>
                    <tr>
                    <th class="cabeza">CURP</th class="cabeza">
                    <tr>
                        <td class="datillos">ROMC990730MJCDRL08</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> 
</body>
</html>