{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/otro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"> 
       
</head>

<body>
    <header>
            <img class="stm" src="{% static 'imagenes/sm.jpeg'%}" alt="Logotipo de sokoladli">
        <nav>
            <ul>
                <!--<li><a href="Menu">Inicio</a></li>-->
                <li><a href="Soporte">Soporte</a></li>
                <li><a href="Contacto">Contacto</a></li>
            </ul>       
        </nav>
    </header>

   <!-- <div class="soporte"> -->
        <h1>Soporte</h1>
        <img class="sokologo" src="{% static 'imagenes/sokoladli.png'%}" alt="Logotipo de Sokoladli" >
        <h3>Oficina: Donato Guerra #360 Col. Lomas Altas</br>
            Ciudad Guzmán, Jalisco</br>
            Tel. (342)105 0558</br>
            Cel. 341 106 6471</br>
            Correo electrónico: sokoladliinc@gmail.com
        </h3>
 
</body>
</html>