td{text-align: center; }
            .cabeza{background-color: #F15F46;}
            div{margin: auto;}
            header{background-color: #F15F46;}
            h1{text-align: center;}
            body{font-family: lato;}
            img{width: 200px; display: block; margin-left: auto; margin-right: auto;}
            table{width: 100%;}
            footer{background-color: #f2f2f2; padding: 0.5%;}
            h3{text-align: center;}