html{
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
  }
 img{
   width: 200px;
 }
 li{
   float: left;
   list-style: none;
   padding: 10px;
   font-size: 30px;
 }
 nav{
  float: right;
  margin-right: 20px;
 }
 a{
  text-decoration: none;
  color: black;
  margin: 20px;
  font-family: lato;
 }
 a:hover{
    color: white;
    /*background-color: teal;*/
 }

 header{
   background-color: #F05F45;
 }
body{
  margin: 0;
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: lato ;
  color: #F05F45;
}

textarea {
  resize: vertical;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: lato;
  font-size: 15px;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: lato;
  font-size: 15px;
  
}

.contraseña {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: lato;
  font-size: 15px;
}

.correo {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: lato;
  font-size: 15px;
}

.calif {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: lato;
  font-size: 15px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: lato;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  width: 40%;
  margin: auto;
  margin-bottom: 30px;
}

label {
  font-size: 20px;
  font-family: lato;  
}
.m1{

 margin: 0;
 padding: 0;
 align-items: initial;
 display: flex;
 width: 100%;
}
.sb{
  margin: 10px;
  font-size: 30px;
  width: 20%;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-top: 10px;
}
.sb:hover{
 color:  #F05F45;
 border-color: #F05F45;  
}
/*Table*/
.tab{
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 120%;
}

th, td {
  text-align: center;
  padding: 4px;
}

tr:nth-child(even){background-color: #f2f2f2}

td{
  font-family: lato;
  font-size: 18px;
}
th {
  background-color: #4CAF50;
  color: white;
  font-family: lato;
  font-size: 18px;
}

.nicocholo:hover{
  color: #F05F45;
}

.lupita{
  margin: 0;
 padding: 0;
 align-items: initial;
 display: flex;
 width: 100%;
}



